[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/tinyobjloader"]
	path = extern/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest.git
[submodule "extern/SPIRV-Reflect"]
	path = extern/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
