[submodule "extern/stb"]
	path = extern/submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/fixed_string"]
	path = extern/submodules/fixed_string
	url = https://github.com/unterumarmung/fixed_string.git
