**/*.spv
**/*.aux
**/*.bbl
**/*.log
**/*.blg
**/*.out
**/*.toc
**/*.lof
**/*.lol
**/*.ilg
**/*.ind
**/*.snm
**/*.nav
assets/shaders/vt_*
!assets/shaders/vt_op.comp.j2
assets/splashdoc/_minted-*
imgui.ini
todo.txt
