**/*.spv
**/*.aux
**/*.bbl
**/*.log
**/*.blg
**/*.out
**/*.toc
**/*.lof
**/*.lol
**/*.ilg
**/*.ind
**/*.snm
**/*.nav
assets/shaders/vt_op_*
assets/splashdoc
assets/images/*
assets/sphinx/_*
imgui.ini
todo.txt
callgrind*
.env
.env.leave
