#version 460
layout (local_size_x = 32, local_size_y = 1, local_size_z = 1) in;
layout (push_constant) uniform Params {
	uint tensor_size;
	{% for i in range(num_constants) -%}
	{{ constants[i] }};
	{%- endfor %}
} params;
layout (std430, binding = 0) buffer tensorZ { float Z[]; };
{% for i in range(num_tensors) -%}
layout (std430, binding = {{ i+1 }}) readonly buffer tensor{{ letters[i] }} { float {{ letters[i] }}[]; };
{%- endfor %}

void main()
{
	uint index = gl_GlobalInvocationID.x;

	if (index >= params.tensor_size) {
		return;
	}

	Z[index] = {{ operation }};
}
